/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* tools */

.debugz {
    border: 2px solid greenyellow;
}

/* assets */

body {
    background-image: url("../img/cork.png");
    font-family: "Edu TAS Beginner";
}

h1 {
    text-align: center;
    font-size: 6em;
    padding: 20px 0;

}

p {
    padding-top: 15px;
    padding-bottom: 10px;
}

header {
    background-image: url("../img/wall.png");
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#polaroid-box {
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pin {
    width: 30px;
    translate: -15px -15px;
    position: absolute;

    left: 50%
}

.polaroid {
    position: relative;
    background-color: white;
    width: calc((1050px / 3) - 25px);
    padding: 20px;
    margin: 40px 20px 0;
    box-shadow: 3px 3px 10px;
    transition: all .1s
}

.polaroid:hover {
    z-index: 2000;
    rotate: 5deg;
    transform: scale(120%);
    box-shadow: 10px 10px 30px;

}

.polaroid:hover #pin {
    display: none;
}

#zoom-image {
    display: flex;
    width: calc(20vw + 200px);
    margin: 10px auto auto;
}

button {
    display: flex;
    margin: 130px auto auto;
    color: white;
    background-color: rgb(107, 107, 57);
    padding: 5px 15px;
}

button:hover {
    background-color: rgba(132, 132, 45);
    transform: scale(110%);
}

.d-none {
    display: none;
}